<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="ProyectoDataBase.Properties.Settings.pc_dam2_02_02_GestionLibros_dbo"
   connectionString="Server=pc-dam2-02-02;Database=GestionLibros;User Id=sa;9339blo9339BLO#;"
   providerName="System.Data.SqlClient" />
  <add name="ProyectoDataBase.Properties.Settings.GestionLibrosConnectionString"
   connectionString="Data Source=PC-DAM2-02-02;Initial Catalog=GestionLibros;Persist Security Info=True;User ID=sa;Password=9339blo9339BLO#;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
